# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# tooling junk
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.parcel-cache/
node_modules

# local junk
parcel-bundle-reports
/coverage
heap-*

# build
/dist

# misc
.DS_Store
