.App {
  padding: 1vh;
}

.App-header {
  text-align: center;
  font-size: 5vw;
}

.App-checklist-list {
  font-size: 150%;

  li {
    display: inline;
    margin: 10px;
    background-color: beige;
  }
}

li {
  list-style: none;
}

input[type=checkbox]:checked + label.strikethrough,
header.strikethrough
{
  text-decoration: line-through;
}