a:visited, a:hover, a:active, a:link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input[type=checkbox]:checked + label.strikethrough,
header.strikethrough
{
  text-decoration: line-through;
}
